<table>
  <thead>
    <th></th>
    <th>Action</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <%= render @owners %>
  </tbody>
</table>
