<table>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Description</th>
    <th>Phone</th>
    <th>Total Tickets</th>
    <th>Outgoing</th>
    <th>Incoming</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>