<% if signed_in? %>

<% unless @outgoing.empty? %>
<h2>tickets you opened</h2>
<table>
  <thead>
    <th>Created</th>
    <th>From</th>
    <th>To</th>
    <th>Priority</th>
    <th>Ref</th>
    <th>Category</th>
    <th>Title</th>
    <th>Content</th>
    <th>Status</th>
    <th>Last Updated</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
<%= render @outgoing %>
  </body>
</table>
<% else %>
<h2>you have not initiated any tickets</h2><br /><br />
<% end %>

<% unless @incoming.empty? %>
<h2>tickets from others</h2>
<table>
  <thead>
    <th>Created</th>
    <th>From</th>
    <th>To</th>
    <th>Priority</th>
    <th>Ref</th>
    <th>Category</th>
    <th>Title</th>
    <th>Content</th>
    <th>Status</th>
    <th>Last Updated</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
<%= render @incoming %>
  </body>
</table>
<% else %>
<h2>you have not received any tickets</h2>
<% end %>

<% else %>
<div id="not_signed_in">
<p>You have reached the Peace Corps Ticketing System (unofficial). Please <%= link_to 'sign in', signin_path %> or <%= link_to 'sign up', signup_path %>.</p>
</div>
<% end %>