<table>
  <thead>
    <th>From</th>
    <th>To</th>
    <th>Ticket</th>
    <th>Code</th>
    <th>Comment</th>
    <th>Update By</th>
    <th></th>
  </thead>
  <tbody>
    <%= render @updates %>
  </tbody>
</table>
